html{
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin-left: 7%;
	margin-right: 7%;
}

body{
	background-image: url(http://www.javimartinez8.com/wp/imagenes/fondo_ppal.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

a {
	color: white;
}

a:hover {
	color: #F7D358;
}

.informacion{
	margin-top: 70px;
}

.img-restaurante{
	margin-left: 50px;
	margin-top: 15px;
}

.img{
	width: 150px;
	height: 150px;
}

.nav-header{
	border-bottom: 1px solid white;
}

.nav-footer{
	margin-top: 10px;
	border-top: 1px solid white;
}

.anadir, .reserva{
	background-color: white;
	color: black;
	border-radius: 2px;
}

h2{
	margin-top: 17px;
	text-transform: capitalize;
}

.cantidad{
	width: 50px;
	margin-right: 25px;
}

.mi-pedido{
	text-align: center;
	border-bottom: 1px solid white;
}

.pedido{
	width: 375px;
	height: 400px;
	z-index: 3;
	position: fixed;
	right: 25px;
	top: 100px;
	border: 1px solid white;
	border-radius: 2px;
}

.platos{
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
	height: 250px;
}

.supr{
	width: 15px;
	height: 15px;
}